Django==1.11.24
Pillow==7.0.0
pytz==2019.3

# Because we are using image field, we need a library called pillow. so, pip install pillow. Otherwise our migrations would fail. And as its a requirement for our project i will create a new requirements.txt file